<footer class="sticky-footer">
    <div class="container my-auto">
      <div class="copyright text-center my-auto">
        <span>Copyright ⓒ <a href="https://github.com/rbrahul" target="_blank">Rahul Baruri</a>, 2018</span>
      </div>
    </div>
  </footer>