<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Web Crawler by Rahul</title>
  <%- include('partials/style.ejs') -%>
</head>

<body id="page-top">

  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="/">Smart Web Crawler</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Navbar Search -->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-auto my-2 my-md-0 crawl-form">
      <div class="input-group  crawl-search-form">
        <input type="text" class="form-control url-field" placeholder="Enter the URL ..." name="url" aria-label="EnterURL" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form>

  </nav>

  <div id="wrapper">

    <!-- Sidebar -->
  <%- include('partials/menu.ejs') -%>
    

    <div id="content-wrapper">

      <div class="container-fluid">
          <div class="row preloader">
              <div class="progress-tooltip align-middle">
                  <div class="lds-facebook"><div></div><div></div><div></div></div>
              </div>
          </div>
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Overview</li>
        </ol>

        
        <!-- Icon Cards-->
        <div class="row display-cards">
            

          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-primary o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-comments"></i>
                </div>
                <div class="mr-5"><span id="internal-urls-counter">0</span> Internal URLs</div>
              </div>
              <a class="card-footer text-white clearfix small z-1 data-details-btn"  data-tableid="#dataTable-internal-url-area" href="#">
                <span class="float-left">View Internal URLs Only</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-warning o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-list"></i>
                </div>
                <div class="mr-5"><span id="external-urls-counter">0</span> External URLs</div>
              </div>
              <a class="card-footer text-white clearfix small z-1 data-details-btn"  data-tableid="#dataTable-external-url-area" href="#">
                <span class="float-left">View External URLs Only</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-success o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-globe"></i>
                </div>
                <div class="mr-5">Total <span id="total-urls-counter">0</span> URLs Found</div>
              </div>
              <a class="card-footer text-white clearfix small z-1 data-details-btn"  data-tableid="#dataTable-all-url-area" href="#">
                <span class="float-left" >View All URLs</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
          
          <div class="col-xl-3 col-sm-6 mb-3 stop-card" >
            <div class="card text-white bg-danger o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-pause-circle"></i>
                </div>
                <div class="mr-5">Time Elapsed: <span class="timer">00</span></div>
              </div>
              <a class="card-footer text-white clearfix small z-1 stop-btn"  href="#" style="display:none;">
                  <span class="float-left">Stop Crawling</span>
                  <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </a>
            </div>
          </div>

          <div class="col-xl-3 col-sm-6 mb-3 file-card" style="display:none">
              <div class="card text-white bg-info o-hidden h-100">
                <div class="card-body">
                  <div class="card-body-icon">
                    <i class="fas fa-fw fa-file-download"></i>
                  </div>
                  <div class="mr-5">Time Elapsed: <span class="timer">00</span></div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="/crawl/download-file" target="_blank">
                    <span class="float-left" >Download File</span>
                    <span class="float-right">
                      <i class="fas fa-angle-right"></i>
                    </span>
                  </a>
              </div>
            </div>

        </div>

        <!-- DataTables Example -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
            Crawled URLs</div>
          <div class="card-body">
            <div class="table-responsive rb-table-holder" id="dataTable-internal-url-area">
              <table class="table table-bordered rb-table" id="dataTable-internal-url" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th style="width:80px;">#</th>
                    <th>Internal URL</th>
                    <th>Title</th>
                    <th>Crawled At</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th style="width:80px;">#</th>
                    <th>Internal URL</th>
                    <th>Title</th>
                    <th>Crawled At</th>
                  </tr>
                </tfoot>
                <tbody>
                </tbody>
              </table>
              </div>

              <div class="table-responsive rb-table-holder" id="dataTable-all-url-area">
                  <table class="table table-bordered rb-table" id="dataTable-all-url" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th style="width:80px;">#</th>
                        <th>URL</th>
                        <th>Title</th>
                        <th>Crawled At</th>
                        <th>URL Type</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th style="width:80px;">#</th>
                        <th>URL</th>
                        <th>Title</th>
                        <th>Crawled At</th>
                        <th>URL Type</th>
                      </tr>
                      
                    </tfoot>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>hello.com</td>
                            <td>Test</td>
                            <td>N/A</td>
                            <td><span class="btn btn-xs btn-outline-primary">Internal</span></td>
                          </tr>
                          <tr>
                              <td>2</td>
                              <td>fb.com</td>
                              <td>-</td>
                              <td>-</td>
                              <td><span class="btn btn-xs btn-outline-success">External</span></td>
                            </tr>
                    </tbody>
                  </table>
                  </div>

              <div class="table-responsive rb-table-holder" id="dataTable-external-url-area">
              <table class="table table-bordered" id="dataTable-external-url" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>External URL</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>#</th>
                      <th>External URL</th>
                    </tr>
                  </tfoot>
                  <tbody>
                  </tbody>
                </table>
                </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      <%- include('partials/footer.ejs') -%>


    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  
  <!--- SCRIPT SECTION-->
  <%- include('partials/script.ejs') -%>

  <!-- Page level plugin JavaScript-->
  <script src="vendor/datatables/jquery.dataTables.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin.min.js"></script>

  <!-- Custom scripts for all pages-->

<script src="/js/socket.io.js"></script>
<script src="/js/socketize.js"></script>
<script>
</script>
</body>

</html>