.display-cards{
    margin-bottom: 25px;
}
.crawl-search-form{
    width: auto;
}

.progress-tooltip {
    width: 100%;
    background: #fff;
    text-align: center;
    padding:8px 0px;
}

.preloader {
  display: none;
}

@media only screen and (min-width: 600px) {
    .crawl-search-form{
        width: 450px !important;
    }
}   

/* PRELOADER */

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  background: #007bff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 6px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 45px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 6px;
    height: 51px;
  }
  50%, 100% {
    top: 19px;
    height: 26px;
  }
}

#dataTable-external-url-area {
  display: none;
}
#dataTable-all-url-area {
  display: none;
}